./social_science/.obsidian/app.json
./social_science/.obsidian/appearance.json
./social_science/.obsidian/core-plugins.json
./social_science/.obsidian/graph.json
./social_science/.obsidian/hotkeys.json
./social_science/.obsidian/workspace